.eventContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14);
  text-align: center;
}

.titleContainer {
  padding: 10px 5px 5px 5px;
}

.deleteContainer {
  text-align: right;
}

.toggleButtonContainer {
  padding: 5px;
  display: flex;
}

.descriptionContainer {
  padding: 0 5px;
}

.priorityContainer {
  padding: 10px 0 0 5px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}
.button {
  width: 50%;
}

#deleteButton {
  padding: 0;
  margin: 0;
}
