.App {
  text-align: center;
  padding: 10px;
  display: flex;
  margin: 0 auto;
}

.small-container {
  width: 20%;
  padding-right: 5px;
}

.big-container {
  width: 80%;
}

@media screen and (max-width: 1079px) {
  .small-container {
    display: none;
  }
  .big-container {
    width: 100%;
  }
}
